################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Problems/v16
/.vs/Problems/DesignTimeBuild
